
/* .assets-modal {
    display: none; 
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
} */

/* .assets-modal-content {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    width: 900px;
    position: relative;
} */

/* .assets-close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
} */